name: release

on: [workflow_dispatch]

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      contents: write
    outputs:
      version: ${{ steps.release.outputs.version }}
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --locked --dev

    - name: Python Semantic Release
      id: release
      uses: relekang/python-semantic-release@v10.5.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        strict: true

  update_repo:
    runs-on: ubuntu-latest
    needs: release
    concurrency: release
    permissions:
      contents: write
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        ref: main
        fetch-depth: 0

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Update lock file
      run: uv lock

    - name: Push changes
      uses: stefanzweifel/git-auto-commit-action@v7 

  release_pypi:
    runs-on: ubuntu-latest
    needs: update_repo
    environment:
      name: pypi
      url: https://pypi.org/p/inq
    permissions:
      id-token: write
      contents: write
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        ref: main

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --locked --dev

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: Build by GitHub Actions
        file_pattern: uv.lock

    - name: Build distribution
      run: uv build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

  release_binaries:
    name: Release binaries
    needs:
      - release
      - update_repo
      - release_pypi
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            TARGET: macos
            CMD_BUILD: |
              uv run pyinstaller -n inq -F inq/__main__.py
              mv dist/inq dist/inq-macos
            OUT_FILE_NAME: dist/inq-macos
          - os: windows-latest
            TARGET: windows
            CMD_BUILD: |
              uv run pyinstaller -n inq --onefile -c inq/__main__.py
            OUT_FILE_NAME: dist/inq.exe
          - os: ubuntu-22.04
            TARGET: linux
            CMD_BUILD: |
              uv run pyinstaller -n inq -F inq/__main__.py
              mv dist/inq dist/inq-linux
            OUT_FILE_NAME: dist/inq-linux
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        ref: main

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --locked --dev

    - name: Build with pyinstaller for ${{matrix.TARGET}}
      run: ${{matrix.CMD_BUILD}}

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ format('v{0}', needs.release.outputs.version) }}
        files: |
          ${{ matrix.OUT_FILE_NAME }}
